### IntelliJ IDEA ###
.idea/
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Mengabaikan file konfigurasi modul IntelliJ IDEA
*.iml

# Mengabaikan file build hasil kompilasi
/build/
/target/

# Mengabaikan file yang dihasilkan oleh sistem operasi
Thumbs.db

# Mengabaikan file log dan cache
logs/
*.log

# Mengabaikan file dependency untuk Maven dan Gradle
/.mvn/
/.gradle/

# Mengabaikan file binary atau class
*.class
*.jar
*.war
*.ear

# Mengabaikan file environment
.env
